<!-- ============================================================
     TITRE
     ============================================================ -->
<h2 mat-dialog-title>
  <span class="dialog-title-row">
    <mat-icon [color]="data.color">{{ data.icon }}</mat-icon>
    {{ data.title }}
  </span>
</h2>
 
<!-- ============================================================
     CONTENU
     ============================================================ -->
<mat-dialog-content>
  <p>{{ data.message }}</p>
</mat-dialog-content>
 
<!-- ============================================================
     ACTIONS
     ============================================================ -->
<mat-dialog-actions align="end">
 
  <!-- Bouton Annuler -->
  <button mat-stroked-button
          type="button"
          (click)="onCancel()">
    <mat-icon>close</mat-icon>
    {{ data.cancelText }}
  </button>
 
  <!-- Bouton Confirmer -->
  <button mat-raised-button
          type="button"
          [color]="data.color"
          (click)="onConfirm()">
    <mat-icon>check</mat-icon>
    {{ data.confirmText }}
  </button>
 
</mat-dialog-actions>